body{
    background-color: hsl(30, 38%, 92%);
    margin: 20px 10px;
    width: 324px;
    padding: 13px;
}

.container{
    background:white;
    width: 324px;
    border-radius: 6px;
    display:flex;
    flex-direction: column;
    height: 584px;
    box-sizing: border-box;
}

.chanel > img{
    width: 324px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.perfume{
    font-family: Montserrat;
    letter-spacing: 5px;
    font-size: 10px;
    font-weight: lighter;
    margin-top: 1rem;
    font-weight: 300;
}

.heading{
    font-family: Fraunces;

}

.para{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
}

.price{
    display: flex;
    align-items: center;
   
}

.price #new{
    font-size: 34px;
    font-family: Fraunces;
    color:hsl(158, 36%, 37%);
}

.price #old{
    font-family: Montserrat;
    margin-left: 1rem;
    font-weight: 300;
    font-size: 13px;
}

.cart-btn{
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}

.cart{
    color: white;
    background-color:hsl(158, 36%, 37%) ;
    border-radius: 5px;
    width: 17rem;
    height: 2.5rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.adjust{
    padding-left: 2.1rem;
}